<ion-header>
  <ion-toolbar color="success">
      <ion-title style="padding-top: 5px">
        Baby care
          <ion-icon [routerLink]="['/cart']" style="width:25px;height:25px;padding-left:190px" name="cart" class="cart-icon"></ion-icon>
      </ion-title>
      <ion-searchbar  placeholder="Search Products" style="padding: 10px"  type="text" [(ngModel)]="searchText"></ion-searchbar>

  </ion-toolbar>
</ion-header>
<ion-content color="medium">
    
  

     <div *ngFor="let product of products | async | filter:searchText ">
        <ion-card  style="display: flex;width:95%">
            <div style="width:32%">
                    <ion-img style="width:70px" src="../assets/icon/{{product.photo}}" ></ion-img>
                    <p>Price:{{product.COST}}</p>
            </div>
           <div style="width:32%">
               <p>{{product.ITEMNAME}}</p>
               <p>Brand:{{product.BRAND}}</p>
               
           </div>
            <div style="width:31%">
                    <!-- <ion-icon style="width:25px;height:25px" name="remove-circle" (click)="min(x)"></ion-icon>
                    {{x}}
                    <ion-icon style="width:25px;height:25px" name="add-circle" (click)="max(x)" ></ion-icon> -->
                   
                    <ion-button color="tertiary"  (click)="addToCart(product)">Cart</ion-button>
                    <p>
                    </p>
                    <ion-icon (click)="details(product)" style="height: 15px;width:15px" [routerLink]="['/Piccart']"  name="chevron-forward-outline"></ion-icon>

            </div>
           

        </ion-card>
      </div> 
      



</ion-content>
<ion-footer >
    <!-- <ion-segment (ionChange)="segmentChanged($event)">
            <ion-segment-button [routerLink]="['/addproduct']">
                    <ion-icon style="width: 20px;height:20px" name="home" [routerLink]="['/addproduct']" href="#addproduct"></ion-icon>
                </ion-segment-button>
             <ion-segment-button [routerLink]="['/babycare']" >
                    <ion-icon name="add-circle" style="width: 35px;height:35px" [routerLink]="['/babycare']" href="#babycare"></ion-icon>
            </ion-segment-button>
            <ion-segment-button >
                    <ion-icon name="settings"></ion-icon>
                  </ion-segment-button> 
          </ion-segment> -->
          <ion-icon style="width: 25px;height:25px;padding:10px;padding-right:62px" name="home" [routerLink]="['/productlist']" ></ion-icon>
          <ion-icon  name="add-circle" style="width: 35px;height:35px;padding:10px;padding-left:62px;padding-right:62px" [routerLink]="['/addproduct']" ></ion-icon>
          <ion-icon style="width: 25px;height:25px;padding:10px;padding-left:62px" name="settings"></ion-icon>

          
</ion-footer>