*
{
    margin: 0;
    padding: 0;

}

body
{
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: serif;
    background: linear-gradient(45deg, #ffaf00, #bb02ff)


}
.row
{   
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid white;
    
}

.main-nav li a:hover
{
    border: 1px solid white;
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
header
{    background-color: darkslategray;
      height: 75px;
/*       position: fixed; */
/*       width:100%; */
}
.sticky{
    position: fixed;
    width:100%;
    transition: top 0.3s;
}
hr{
    width: 50%;
    margin: 0 0 0 25%;
    position: absolute;
    color:darkslategray;
}

.front
{   
    text-align: center;
    /* position: relative; */
    color: white;
    margin-left: 0px;
    margin-top: 0px;
}
.author{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background{
    width:100%;
    height: 100%;
    min-height: 100%;
}
.aboutsection{
/* 
    height: 60%;
    min-height: 60%; */
}
.aboutheading{
    text-align: center;
    /* margin-top: 15px; */
    width:100%;
    color: black;
    font-weight: 300;
    padding: 10px;
    
}
.aboutcontent{
    display: flex;
}
.heading{
    width: 25%;
    align-items: center;
}
.profile{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-left: 20%;
}
.profile:hover{
transform: scale(1.1);
    
}
.content{
    color: white;
    display: grid;
    line-height: 3;
    word-spacing: 3;
    list-style-position: inside;
    margin-left: 50px;
}
h1
{   font-size: 40px;
    color: white;
    text-align: center;
    
}

.card {
    box-shadow: 4px 4px 15px 1px rgb(54, 54, 54);
    background-color: white;
    margin: auto;
    line-height: 2.5;
    height: 400px;
    width:  350px;
    margin: 10px;
    word-spacing: 3;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  .logo{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 10px 0 10px 0;
  }
  .kcs{
    height: 70px;
    width: 90px;
    margin: 15px 0 15px 0;
  }
.internshiplogo{
    height: 100px;
    width: 100px;
    /* margin: 10px 0 10px 37%; */
}
.projectcard{
    box-shadow: 4px 4px 15px 1px rgb(54, 54, 54);
    background-color: white;
    margin: auto;
    line-height: 2.5;
    height: 500px;
    width:  400px;
    margin: 10px;
    word-spacing: 3;
    font-family: arial;
}
#customers {
    list-style-position: inside;
    border-collapse: collapse;
    width: 100%;
  }
  section{
    background: linear-gradient(45deg, #ffaf00, #bb02ff)
  }
  #customers td, #customers th {
    vertical-align: top;
    border: 1px solid #ddd;
    line-height: 1.5;
    padding: 2px;
  }
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  .contact{
      display: flex;
      justify-content: center;
      margin: 10px 10px 50px 10px;
      
  }
.contactsociallogo{
    
    border-radius: 50%;
    height: 36px;
    margin: 5px 15px 5px 15px;
    width: 36px;
}
.contactlinkedinlogo{
    border-radius: 50%;
    height: 20px;
    padding: 5px 15px 5px 15px;
    width: 20px;
}.contactfacebooklogo{
    border-radius: 50%;
    height: 20px;
    margin: 5px 15px 5px 15px;
    width: 20px;
}.contactinstalogo{
    border-radius: 50%;
    height: 20px;
    margin: 5px 15px 5px 15px;
    width: 20px;
}.contacttwitterlogo{
    border-radius: 50%;
    height: 20px;
    margin: 5px 15px 5px 15px;
    width: 20px;
}
.contactlinkedinlogo:hover{
    border-radius: 50%;
    height: 24px;
    margin: 5px 15px 5px 15px;
    width: 24px;
}.contactfacebooklogo:hover{
    border-radius: 50%;
    height: 24px;
    margin: 5px 15px 5px 15px;
    width: 24px;
}.contactinstalogo:hover{
    border-radius: 50%;
    height: 24px;
    margin: 5px 15px 5px 15px;
    width: 24px;
}.contacttwitterlogo:hover{
    border-radius: 50%;
    height: 24px;
    margin: 5px 15px 5px 15px;
    width: 24px;
}

.contactcontactlogo{
    border-radius: 50%;
    height: 36px;
    margin: 5px 15px 5px 15px;
    width: 36px;
}

.contactmaillogo{
    border-radius: 50%;
    height: 20px;
    margin: 5px 15px 5px 15px;
    width: 20px;
}
.contactmaillogo:active{
    font-display: rrrr;
    border-radius: 50%;
    height: 20px;
    margin: 5px 15px 5px 15px;
    width: 20px;
}
.contactmaillogo:hover{
    border-radius: 50%;
    height: 24px;
    margin: 5px 15px 5px 15px;
    width: 24px;
}
.contactcontact1logo{
    border-radius: 50%;
    height: 20px;
    margin: 5px 15px 5px 15px;
    width: 20px;
}
.contactcontact1logo:hover{
    border-radius: 50%;
    height: 24px;
    margin: 5px 15px 5px 15px;
    width: 24px;
}
.contactbox{
    color: white;
    display: inline;
    text-align: center;
    background-color: rgba(132, 130, 134, 0.671);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    line-height: 2.5;
    height: auto;
    width:  auto;
}
.CardContainer{
    background: linear-gradient(45deg, #ffaf00, #bb02ff)

}
.Container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.Container .InternCard{
    position: relative;
    width: 350px;
    height: 510px;
    margin: 20px;
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.Container:hover .InternCard{
    filter: blur(6px);
    transform: scale(0.9);
    opacity: 0.5;
}
.Container .InternCard:hover{
    filter: blur(0);
    transform: scale(1.1);
    opacity: 1;
}
.Container .InternCard .InternLogoCircle{
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}
.Container .InternCard .InternLogoCircle img{
    padding: 30px 0;
}
.Container .InternCard .InternLogoCircle p{
    padding: 42px 0;
    color: #fff;
    font-size: 2rem;
}
.Container .InternCard .InternContent{
    position: absolute;
    bottom: 10px;
    text-align: center;
    padding: 20px;
}
.Container .InternCard .InternContent p{
    color: #666;
}
.Container .InternCard:nth-child(1) .InternLogoCircle{
    background: #ffaf00;
}

.Container .InternCard:nth-child(2) .InternLogoCircle{
    background: #da2268;
}

.Container .InternCard:nth-child(3) .InternLogoCircle{
    background: #bb02ff;
}

h2{
    color: white;
    padding-bottom: 14px
}

