*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Times New Roman', Times, serif;
}
.row
{   
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid white;
    
}

.main-nav li a:hover
{
    border: 1px solid white;
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.front
{   
    text-align: center;
    /* position: relative; */
    color: white;
    margin-left: 0px;
    margin-top: 0px;
}
.author{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background{
    width:100%;
    height: 90%;
    min-height: 90%;
}
.aboutsection{
/* 
    height: 60%;
    min-height: 60%; */
}
.aboutheading{
    text-align: center;
    margin-top: 15px;
    width:100%;
    color: black;
    font-weight: 300;
    padding: 10px;
    
}
.aboutcontent{
    display: flex;
}
.heading{
    width: 30%;
    align-items: center;
}
.profile{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-left: 20%;
}
.profile:hover{
    height: 250px;
    width: 250px;
    margin-left: 10%
}
.content{
    color: black;
    display: grid;

    font-size: 17px;
    line-height: 3;
 
    word-spacing: 3;
    list-style-position: inside;
    margin-left: 50px;
}
h1
{   font-size: 40px;
    color: white;
    text-align: center;
    
}
header
{    background-color: darkslategray;
      height: 75px;
    
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    line-height: 2.5;
    height: 400px;
    width:  350px;
    margin: 10px;
    word-spacing: 3;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  .logo{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 10px 0 10px 0;
  }
.internshiplogo{
    height: 100px;
    width: 100px;
    margin: 10px 0 10px 37%;
}
.projectcard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    line-height: 2.5;
    height: 500px;
    width:  400px;
    margin: 10px;
    word-spacing: 3;
    font-family: arial;
}
.internshipcard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    line-height: 2.5;
    height: 640px;
    width:  500px;
    margin: 10px;
    word-spacing: 3;
    font-family: arial;
}
#customers {
    list-style-position: inside;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    vertical-align: top;
    border: 1px solid #ddd;
    line-height: 1.5;
    padding: 2px;
  }
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }







